faster-qwen3-tts
soundfile
sounddevice
numpy
qwen-tts>=0.1.1
transformers>=4.57,<5
torch>=2.5.1
torchaudio>=2.5.1
huggingface-hub>=0.36.0,<1.0
pydub
flask
google-genai
python-dotenv
qwentts-cpp-python
